@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Noto+Sans+JP:wght@400;700&display=swap');

:root {
  --text-color: #fff;
  --key-color-01: #ffc922;
  --key-color-02: rgb(75, 40, 40);
  --message-window-size: (2.7rem * 4 + 2rem * 2);
}
